name: Build Static Node.js Container

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/build-static-node.yml'
      - 'staticnode/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-static-node.yml'
      - 'staticnode/**'

jobs:
  build:
    name: Build node.js
    runs-on: ${{ matrix.IMAGE.RUNNER }}
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        IMAGE:
          - {RUNNER: "ubuntu-latest", MANYLINUX_ARCH: "loongarch64"}
    steps:
    - uses: actions/checkout@v4.2.2
      with:
        persist-credentials: false

    - uses: docker/setup-buildx-action@v3

    - name: Restore Cache
      uses: actions/cache/restore@v4
      with:
        path: |
          /tmp/.buildx-cache
        key: build-static-node-
  
    - name: Set Node.js version
      run: |
        source ./staticnode/node-version.sh
        echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV
        echo "NODE_SHA256SUM=$NODE_SHA256SUM" >> $GITHUB_ENV
        arch=loongarch64
        echo "NODE_ARCH=$arch" >> $GITHUB_ENV

    - name: Setup QEMU
      run: docker run --rm --privileged ghcr.io/loong64/qemu-user-static --reset -p yes
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      uses: docker/build-push-action@v6
      with:
        context: staticnode
        platforms: linux/loong64
        load: true
        push: false
        build-args: |
          ARCH=loong64
          VERSION=${{ env.NODE_VERSION }}
          SHA256SUM=${{ env.NODE_SHA256SUM }}
        tags: |
          ghcr.io/loong64/static-nodejs-${{ env.NODE_ARCH }}:${{ env.NODE_VERSION }}
        outputs: type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

    - name: Move cache
      if: always()
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

    - name: Save Cache
      if: always()
      uses: actions/cache/save@v4
      with:
        path: /tmp/.buildx-cache-new
        key: build-static-node-${{ github.run_id }}

    - name: Test static node.js on manylinux_2_38
      run: |
        cd staticnode
        docker build -f Dockerfile-test -t test-node --build-arg MANYLINUX_ARCH=${{ matrix.IMAGE.MANYLINUX_ARCH }} --build-arg CONTAINER_NAME=ghcr.io/loong64/static-nodejs-$NODE_ARCH:$NODE_VERSION .
        docker run test-node /staticnode/bin/node -e "console.log('hello world'); console.log(process.version)"

    - name: Push image
      run: docker push "ghcr.io/loong64/static-nodejs-${NODE_ARCH}:${NODE_VERSION}"
